<footer class="footer-container">
  <div class="footer-top">
    <div class="footer-left">
      <h3 class="store-title">Mi Tienda</h3>
      <p class="store-subtext">¡Que tengas una buena experiencia comprando!</p>
    </div>

    <div class="footer-links">
      <div class="footer-column">
        <ul>
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Novedades</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <ul>
            <li><a href="#">Contacto</a></li>
            <li><a href="#">Ayuda</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <p>Angel Serradilla Carabias © 2025</p>
  </div>
</footer>
