<div class="form-container">
  <h2>Login</h2>
  <form (ngSubmit)="onLogin()" #loginForm="ngForm">
    <input type="email" name="email" [(ngModel)]="email" placeholder="Email" required email />
    <div *ngIf="loginForm.submitted && loginForm.controls['email']?.invalid">Email inválido</div>

    <input type="password" name="password" [(ngModel)]="password" placeholder="Contraseña" required minlength="4" />
    <div *ngIf="loginForm.submitted && loginForm.controls['password']?.errors?.['minlength']">
      Mínimo 4 caracteres
    </div>

    <button type="submit" [disabled]="!loginForm.valid">Continuar</button>
  </form>

</div>
